@CHARSET "UTF-8";



#page { width: auto; margin: 30px auto; }

#thumbs { padding-top: 10px; overflow: hidden; }
#thumbs img, #largeImage { padding: 4px; background-color: white; cursor: pointer; }
#thumbs img { float: left; margin-right: 6px; }
/*#description { background: black; color: white; position: absolute; bottom: 0; padding: 10px 20px; width: 525px; margin: 5px; }*/
#panel { position: relative; }
.profileimg img{
    width:150px;
    height: 150px;
    float: left;
    border-radius: 50%;
    margin-right: 25px;
    overflow: hidden;

}




